# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/
.ruff_cache
.pytest_cache
uv.lock

# Secrets
.env

# Node
node_modules/
bun.lock
bun.lockb

# VSCode
.vscode/

# MkDocs
site/

# AI
GEMINI.md

# Coverage
coverage.xml
.coverage
