services:
    db:
        image: postgres:16-alpine
        container_name: postgres
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        restart: unless-stopped
        ports:
            - 5432:5432

    backend:
        build:
            context: .
            dockerfile: Dockerfile
        image: backend:1.0.0
        restart: unless-stopped
        env_file:
            - .env
        environment:
            DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}
            DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE:-config.settings}
            DJANGO_DEBUG: ${DJANGO_DEBUG:-1}
            DJANGO_PORT: ${DJANGO_PORT}
        ports:
            - 8000:8000
