global:
  sendAnonymousUsage: false

api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    swarmMode: true

certificatesResolvers:
  hostinger:
    acme:
      email: "yassin9230@gmail.com"
      storage: "/var/traefik/certs/hostinger-acme.json"
      caServer: "https://acme-v02.api.letsencrypt.org/directory" # Prod
      # caServer: "https://acme-staging-v02.api.letsencrypt.org/directory" # Dev
      dnsChallenge:
        provider: hostinger
        delayBeforeCheck: "10"
