services:
    mkdocs:
        build:
            context: .
            dockerfile: Dockerfile
        image: docs:1.0.0
        container_name: docs
        restart: unless-stopped
        ports:
            - 7000:7000
